# CakePHP 3
/mysql/
/vendor/*
/config/app.php

/tmp/cache/models/*
!/tmp/cache/models/empty
/tmp/cache/persistent/*
!/tmp/cache/persistent/empty
/tmp/cache/views/*
!/tmp/cache/views/empty
/tmp/sessions/*
!/tmp/sessions/empty
/tmp/tests/*
!/tmp/tests/empty

/logs/*
!/logs/empty

# CakePHP 2
/app/tmp/*
/app/Config/core.php
/app/Config/database.php
/vendors/*

# MySQL данные (не коммитить!)
cinema/mysql/database/sales.MYD
cinema/mysql/database/sales.MYI
cinema/mysql/ibdata1
cinema/mysql/ib_logfile0
cinema/mysql/ddl_recovery.log
cinema/mysql/ibttmp1
cinema/mysql/tc.log
cinema/mysql/undo001
cinema/mysql/undo002
cinema/mysql/undo003
cinema/mysql/ibtmp1

# macOS
.DS_Store
